@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap');

body{
    background: url(bg_new.png) no-repeat center center fixed; 
    background-size: 100% 100%;
    font-family: 'Ubuntu Mono', monospace;
}

#info, #cow, #donate {
    position: absolute;
    z-index: 9;
    background-color: #313131;
    text-align: center;
  }
  
  #infoheader, #cowheader, #donateheader {
    cursor: move;
  }

.pfp{
    color: black; background: rgba(0, 0, 0, 0);
    white-space:pre;
    letter-spacing:0;
    line-height:1.4;
    font-family: 'Ubuntu Mono', monospace !important;
    font-size:0.25rem;
    text-align: left;
    float:left;
    display:block;
    padding-left: 2px;
}

.command {
    text-align: left;
    font-size: 0.9375rem;
    padding-left: 2px;
}

.cowinput {
    font-size: 0.9375rem;
}

.about {
    text-align: left;
    font-size: 0.875rem;
    padding-left: 47%;
    color: white;
}

.highlight{
    color: chartreuse;
    font-weight: bold;
}

p {
    display: inline;
}

.box {
    width: 350px;
}

input {border:0;outline:0;}
input:focus {outline:none!important;}

a {
    color: #ffffff;
    text-decoration: none;
}