html, body {
    margin: 0;
    padding: 0;
}
div {
    margin: 0;
    width: 100%;
    height: 100%;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
}

img {
    float: left;
    height: 40ch;
    object-fit: cover;
}

.card {
    transition: ease, transform .6s;
}

.card:hover {
    transform: scale(109%);
}